.question {
    color: white;
    margin-top: 10rem;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-bottom: 2rem;
}

.question h1 {
    text-align: center;
}

@media only screen and (max-width: 600px) {
    .question {
      margin-top: 2rem;
    }
}