.app-container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    background-color: #182C61;
}

.quiz-container {
    height: 400px;
    width: 800px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    border: 2px solid white;
    border-radius: 10px;
}