.answer {
    color: white;
    font-size: 30px;
    border: 2px solid white;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    width: 300px;
    margin: 10px;
}

.answer:hover {
    background-color: white;
    color: #182C61;
    cursor: pointer;
}